<%- include layout/head.ejs %>
<%- include layout/main_sidebar.ejs %>

<!-- MAIN PAGE CONTENT START -->
<main class="mdl-layout__content mdl-color--white">
    <div class="mdl-grid back-end-content">

        <div class="entertainer-layout">
            <div class="entertainer-content">
              <div>
                <span class="mdl-chip mdl-color--red-300">
                      <span class="mdl-chip__text"><b>Oops!! Something went wrong.</b></span>
                </span>
              </div><br/><br/><br/>

              <p>
                <h3 style="color:red;"> <%= shiftMessage %> </h3>
              </p>

            </div>
        </div>


            </div>
        </main>
        <!-- MAIN PAGE CONTENT END -->


<%- include layout/footer.ejs %>
