<%- include layout/head.ejs %>
    <%- include layout/main_sidebar.ejs %>

        <!-- MAIN PAGE CONTENT START -->
        <main class="mdl-layout__content mdl-color--white">
            <div class="entertainer-content">
                <div class="mdl-grid back-end-content">

                  <div class="entertainer-layout">
                      <div class="entertainer-content">
                        <h1>Order Collections</h1>
                        <div class="mdl-grid">
                          
                        </div>


                          <table id="tblReadyCustomerOrders" class="mdl-data-table mdl-js-data-table">
                              <!-- class="mdl-data-table mdl-js-data-table" -->
                              <thead>
                                  <tr>
                                      <th class="mdl-data-table__cell--non-numeric">Order Number</th>
                                      <th class="mdl-data-table__cell--non-numeric">Date Captured</th>
                                      <th class="mdl-data-table__cell--non-numeric">Total Amount</th>
                                      <th class="mdl-data-table__cell--non-numeric">Collect</th>
                                      <th class="mdl-data-table__cell--non-numeric">View</th>

                                  </tr>
                              </thead>
                              <tbody>

                              </tbody>
                          </table>
                          <!-- /block -->

                          <div hidden class="alert-info" style="overflow:auto;height:20px;">
                              <span class="label label-default" id="lbSelectedReadyCustomerOrder"></span>
                          </div>

                          <!-- Receipt -->
                          <br><br>
                          <div id="orderReceipt" hidden>
                            <div id="orderReceiptInfo"></div>
                            <table id="tblOrderReceiptDetails" class=" mdl-js-data-table">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Product Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Product Size</th>
                                        <th class="mdl-data-table__cell--non-numeric">Topping</th>
                                        <th class="mdl-data-table__cell--non-numeric">Base Type</th>
                                        <th class="mdl-data-table__cell--non-numeric">Quantity Ordered</th>
                                        <th class="mdl-data-table__cell--non-numeric">Amount (Quantity * Product Price)</th>
                                    </tr>
                                </thead>

                                <tbody>

                                </tbody>
                            </table>
                        </div>

                      </div>
                  </div>


                    <!-- Dialog -->
                    <% include partials/view/dialogViewCustomerOrder.ejs %>
                    <% include partials/view/dialogViewCheckout.ejs %>

                </div>
            </div>


        </main>
        
        <!-- MAIN PAGE CONTENT END -->
        <script type="text/javascript" src="/controllers/order_collection.js"></script>

        <%- include layout/footer.ejs %>
