<%- include layout/head.ejs %>
    <%- include layout/main_sidebar.ejs %>

        <!-- MAIN PAGE CONTENT START -->
        <main class="mdl-layout__content mdl-color--white">
            <div class="entertainer-content">
                <div class="mdl-grid back-end-content">

                  <div class="extra-button mdl-cell mdl-cell--12-col">
                      <a href="/page/customers/orders/new" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored no-shadow modal-trigger">
                          <i class="material-icons">add</i>
                      </a>
                  </div>

                  <div class="entertainer-layout">
                      <div class="entertainer-content">
                        <div class="mdl-grid">
                          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <label class="control-label">Filter By Customer</label>
                              <select id="orderFilterCustomer" class="form-control" required="required">

                              </select>
                          </div>

                          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <input class="any-date mdl-textfield__input" placeholder="Select Date" type="text" id="orderFilterDate">
                          </div>

                          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <label class="control-label">Filter By Shift</label>
                              <select id="orderFilterShift" class="form-control" required="required">

                              </select>
                          </div>
                        </div>

                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                                <button type="button" onclick="return LoadAllOrders();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white no-shadow"> Reset Filter </button>
                            </div>
                        </div>

                          <table id="tblCustomerOrders" class="mdl-data-table mdl-js-data-table">
                              <!-- class="mdl-data-table mdl-js-data-table" -->
                              <thead>
                                  <tr>
                                      <th class="mdl-data-table__cell--non-numeric">Date Captured</th>
                                      <th class="mdl-data-table__cell--non-numeric">Payment Type</th>
                                      <th class="mdl-data-table__cell--non-numeric">Total Amount</th>
                                      <th class="mdl-data-table__cell--non-numeric">Captured By</th>
                                      <th class="mdl-data-table__cell--non-numeric">View</th>

                                  </tr>
                              </thead>
                              <tbody>

                              </tbody>
                          </table>
                          <!-- /block -->

                          <div hidden class="alert-info" style="overflow:auto;height:20px;">
                              <span class="label label-default" id="lbSelectedCustomerOrder"></span>
                          </div>

                      </div>
                  </div>


                    <!-- Dialog -->
                    <% include partials/view/dialogViewCustomerOrder.ejs %>

                </div>
            </div>

        </main>
        
        <!-- MAIN PAGE CONTENT END -->
        <script type="text/javascript" src="/controllers/customer_orders.js"></script>

        <%- include layout/footer.ejs %>
