<%- include layout/head.ejs %>
    <%- include layout/main_sidebar.ejs %>

        <!-- MAIN PAGE CONTENT START -->
        <main class="mdl-layout__content mdl-color--white">
            <div class="entertainer-content">
                <div class="mdl-grid back-end-content">


                  <div class="entertainer-layout">
                      <div class="entertainer-content">
                        <h1>Login Report</h1>
                        <div class="mdl-grid">
                          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <label class="control-label">Filter By Employee</label>
                              <select id="loginRecordFilterEmployee" class="form-control" required="required">

                              </select>
                          </div>

                          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <input class="any-date mdl-textfield__input" placeholder="Select Date" type="text" id="loginRecordFilterDate">
                          </div>

                          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <label class="control-label">Filter By Shift</label>
                              <select id="loginRecordFilterShift" class="form-control" required="required">

                              </select>
                          </div>

                        </div>

                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                                <button type="button" onclick="return LoadAllLoginRecords();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white no-shadow"> Reset Filter </button>
                            </div>
                        </div>

                          <table id="tblLoginRecords" class="mdl-data-table mdl-js-data-table">
                              <!-- class="mdl-data-table mdl-js-data-table" -->
                              <thead>
                                  <tr>
                                      <th class="mdl-data-table__cell--non-numeric">Employee Name</th>
                                      <th class="mdl-data-table__cell--non-numeric">Employee Code</th>
                                      <th class="mdl-data-table__cell--non-numeric">Login Timestamp</th>

                                  </tr>
                              </thead>
                              <tbody>

                              </tbody>
                          </table>
                          <!-- /block -->

                          

                      </div>
                  </div>


                </div>
            </div>

        </main>
        <!-- MAIN PAGE CONTENT END -->
        <script type="text/javascript" src="/controllers/login_records.js"></script>

        <%- include layout/footer.ejs %>
