<%- include layout/head.ejs %>
    <%- include layout/main_sidebar.ejs %>

        <!-- MAIN PAGE CONTENT START -->
        <main class="mdl-layout__content mdl-color--white">
            <div class="entertainer-content">
                <div class="mdl-grid back-end-content">

                  <div class="entertainer-layout">
                      <div class="entertainer-content">
                        
                        <h1>Place New Order</h1>
                       
                          
                          <!-- /block -->
   

                      </div>
                  </div>

                    <!-- Dialog -->
                    

                </div>
            </div>

        </main>
        <!-- MAIN PAGE CONTENT END -->
        <!--<script type="text/javascript" src="/controllers/update/update_profile.js"></script>-->

        <%- include layout/footer.ejs %>
