<%- include layout/head.ejs %>
    <%- include layout/main_sidebar.ejs %>

        <!-- MAIN PAGE CONTENT START -->
        <main class="mdl-layout__content mdl-color--white">
            <div class="entertainer-content">
                <div class="mdl-grid back-end-content">


                  <div class="entertainer-layout">
                      <div class="entertainer-content">
                        <h1>Sales Reports</h1>
                        <div class="mdl-grid">
                          
                          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <input class="any-date mdl-textfield__input" placeholder="Select From Date" type="text" id="filterOrdersByDate">
                          </div>

                          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <input class="any-date mdl-textfield__input" placeholder="Select To Date" type="text" id="filterOrdersByDateTo">
                          </div>

                          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <button type="button" onclick="return FilterByProductAndDate();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white no-shadow"> Filter </button>
                          </div>

                        </div>

                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                                <button type="button" onclick="return ResetFilters();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white no-shadow"> 
                                    Clear All Filters 
                                </button>
                            </div>
                        </div>

                        <!-- CHARTS!!!!!!!!! -->

                        <!-- Other charts -->
                        <br><br>
                        <div id="otherCharts" class="mdl-grid mdl-cell mdl-cell--12-col">
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet">
                                <label id"lblPolar1" class="control-label"><strong>Sales Chart By Products</strong></label>
                                <canvas id="orderPolarChartProduct"></canvas>
                            </div>

                            <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet">
                                <label id"lblPolar2" class="control-label"><strong>Sales Chart By Product Types</strong></label>
                                <canvas id="orderPolarChart"></canvas>
                            </div>
                        </div>
                        <!-- *************** -->
                        
                        <!-- Pie Charts -->
                        <br><br>
                        <div id="pieCharts" class="mdl-grid mdl-cell mdl-cell--12-col">
                            <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet">
                                <label class="control-label"><strong>Overall Sales Chart By Payment Type</strong></label>
                                <canvas id="orderBarChartPaymentType"></canvas>
                            </div>

                            <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet">
                                <label class="control-label"><strong>Overall Sales Chart By Capturing Employee</strong></label>
                                <canvas id="orderBarChartEmployee"></canvas>
                            </div>
                        </div>
                        <!-- *************** -->

                      </div>
                  </div>


                    <!-- Dialog -->
                    

                </div>
            </div>

        </main>
        
        <!-- MAIN PAGE CONTENT END -->
        <script type="text/javascript" src="/controllers/sales_reports.js"></script>

        <%- include layout/footer.ejs %>
