<%- include layout/head.ejs %>
    <%- include layout/main_sidebar.ejs %>

        <!-- MAIN PAGE CONTENT START -->
        <main class="mdl-layout__content mdl-color--white">
            <div class="entertainer-content">
                <div class="mdl-grid back-end-content">

                  <div class="extra-button mdl-cell mdl-cell--12-col">
                      <a href="/create_event" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored no-shadow modal-trigger">
                          <i class="material-icons">add</i>
                      </a>
                  </div>

                  <div class="entertainer-layout">
                      <div class="entertainer-content">
<<<<<<< HEAD
                        
=======
                       <h1>Shifts</h1> 
>>>>>>> 2ba520d84b4ac6fea911785348698e542ba016bb

                          <table id="tblShifts" class="mdl-data-table mdl-js-data-table">
                              <!-- class="mdl-data-table mdl-js-data-table" -->
                              <thead>
                                  <tr>
                                      <th class="mdl-data-table__cell--non-numeric">Shift Name</th>
                                      <th class="mdl-data-table__cell--non-numeric">Start Time</th>
                                      <th class="mdl-data-table__cell--non-numeric">End Time</th>
                                      <th class="mdl-data-table__cell--non-numeric">View</th>

                                  </tr>
                              </thead>
                              <tbody>

                              </tbody>
                          </table>
                          <!-- /block -->

                          <div hidden class="alert-info" style="overflow:auto;height:20px;">
                              <span class="label label-default" id="lbSelectedShift"></span>
                          </div>

                      </div>
                  </div>


                    <!-- Dialog -->
                    <% include partials/view/dialogViewShift.ejs %>

                </div>
            </div>

        </main>
        <!-- MAIN PAGE CONTENT END -->
        <script type="text/javascript" src="/controllers/shifts.js"></script>

        <%- include layout/footer.ejs %>
