<%- include layout/head.ejs %>
    <%- include layout/main_sidebar.ejs %>

        <!-- MAIN PAGE CONTENT START -->
        <main class="mdl-layout__content mdl-color--white">
            <div class="entertainer-content">
                <div class="mdl-grid back-end-content">

                  <div class="extra-button mdl-cell mdl-cell--12-col">
                      <a data-target="#dialogAddBooking" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored no-shadow modal-trigger">
                          <i class="material-icons">add</i>
                      </a>
                  </div>

                  <div class="entertainer-layout">
                      <div class="entertainer-content">
                        <h1>Shift Bookings</h1>
                        <div class="mdl-grid">
                          <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-tablet">
                              <label class="control-label">Filter By Shift</label>
                              <select id="bookingFilterShift" class="form-control" required="required">

                              </select>
                          </div>

                          <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-tablet">
                              <label class="control-label">Filter By Status</label>
                              <select id="bookingFilterStatus" class="form-control" required="required">

                              </select>
                          </div>

                          <!--<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet">
                              <label class="control-label">Filter By Employee</label>
                              <select id="bookingFilterEmployee" class="form-control" required="required">

                              </select>
                          </div>-->

                        </div>

                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                                <button type="button" onclick="return LoadAllBookings();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white no-shadow"> Reset Filter </button>
                            </div>
                        </div>

                          <table id="tblShiftBookings" class="mdl-data-table mdl-js-data-table">
                              <!-- class="mdl-data-table mdl-js-data-table" -->
                              <thead>
                                  <tr>
                                      <!--<th class="mdl-data-table__cell--non-numeric">Shift Name</th>-->
                                      <th class="mdl-data-table__cell--non-numeric">Employee Name</th>
                                      <th class="mdl-data-table__cell--non-numeric">Booking Date</th>
                                      <th class="mdl-data-table__cell--non-numeric">Date Submitted</th>
                                      <th class="mdl-data-table__cell--non-numeric">View</th>

                                  </tr>
                              </thead>
                              <tbody>

                              </tbody>
                          </table>
                          <!-- /block -->

                          <div hidden class="alert-info" style="overflow:auto;height:20px;">
                              <span class="label label-default" id="lbSelectedShiftBooking"></span>
                          </div>

                      </div>
                  </div>


                    <!-- Dialog -->
                    <% include partials/view/dialogViewBooking.ejs %>
                    <% include partials/add/dialogAddBooking.ejs %>

                </div>
            </div>

        </main>
        <!-- MAIN PAGE CONTENT END -->
        <script type="text/javascript" src="/controllers/shift_bookings.js"></script>

        <%- include layout/footer.ejs %>
