<!-- The Modal  dialogViewCustomerOrder -->
<div id="dialogViewCustomerOrder" class="form-modal">
    <div class="form-modal-content">
        <div class="form-modal-header"> <span class="form-close">&times;</span> </div>
        <div class="form-modal-body">
            <div class="mdl-grid back-end-content form-layout">
                <div class=" mdl-cell mdl-cell--4-col-phone mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                    <div class="form-header">
                        <div class="mdl-typography--headline">View Order Details</div>
                    </div>
                    <div class="form-content">
                        
                        <div id="bankCardDetails" style="margin-left: -60px;" class="mdl-cell mdl-cell--6-col mdl-cell--3-col-tablet">
                                    
                        </div><br><br>
                        
                        <form action="#" class="mdl-grid">
                            
                            <div class="mdl-cell mdl-cell--12-col">

                                <table id="tblCustomerOrderDetails" class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">Product Name</th>
                                            <th class="mdl-data-table__cell--non-numeric">Product Size</th>
                                            <th class="mdl-data-table__cell--non-numeric">Topping</th>
                                            <th class="mdl-data-table__cell--non-numeric">Base</th>
                                            <th class="mdl-data-table__cell--non-numeric">Quantity Ordered</th>
                                            <th class="mdl-data-table__cell--non-numeric">Amount (Quantity * Product Price)</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>

                                    </tbody>
                                </table>
                                
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

