<!-- The Modal  dialogViewCustomer -->
<div id="dialogViewCustomer" class="form-modal">
    <div class="form-modal-content">
        <div class="form-modal-header"> <span class="form-close">&times;</span> </div>
        <div class="form-modal-body">
            <div class="mdl-grid back-end-content form-layout">
                <div class=" mdl-cell mdl-cell--4-col-phone mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                    <div class="form-header">
                        <div class="mdl-typography--headline">View Customer Info</div>
                    </div>
                    <div class="form-content">
                        <form action="#" class="mdl-grid">
                        
                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
                                    <select disabled id="txtViewCustomerGender" class="gender-change" required="required">

                                    </select>
                                    <label class="mdl-textfield__label" for="txtViewCustomerGender">Customer Gender</label>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="mdl-textfield__input" placeholder="Customer Name..." type="text" id="txtViewCustomerName">
                                    <label class="mdl-textfield__label" for="txtViewCustomerName">Customer Name</label>
                                </div>

                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="mdl-textfield__input" placeholder="Customer Email..." type="text" id="txtViewCustomerEmail">
                                    <label class="mdl-textfield__label" for="txtViewCustomerEmail">Customer Email</label>
                                </div>

                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="mdl-textfield__input" placeholder="Customer Phone..." type="text" id="txtViewCustomerPhone">
                                    <label class="mdl-textfield__label" for="txtViewCustomerPhone">Customer Phone</label>
                                </div>

                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input readonly="readonly" class="mdl-textfield__input" placeholder="Date Added..." type="text" id="txtViewCustomerDateAdded">
                                    <label class="mdl-textfield__label" for="txtViewCustomerDateAdded">Date Added</label>
                                </div>

                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input readonly = "readonly" class="mdl-textfield__input" placeholder="Added by..." type="text" id="txtViewCustomerAddedBy">
                                    <label class="mdl-textfield__label" for="txtViewCustomerAddedBy">Added By</label>
                                </div>

                            </div>

                            <!--<div class="mdl-cell mdl-cell--12-col">
                                <br>
                                <a>
                                    <button type="button" onclick="return UpdateCustomer();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white no-shadow"> SAVE </button>
                                </a>
                            </div>-->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/controllers/update/update_customer.js"></script>