<!-- The Modal  dialogAddProduct -->
<div id="dialogCheckout" class="form-modal">
    <div class="form-modal-content">
        <div class="form-modal-header">
            <span class="form-close">&times;</span>
        </div>
        <div class="form-modal-body">
            <div class="mdl-grid back-end-content form-layout">
                <div class=" mdl-cell mdl-cell--4-col-phone mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                    <div class="form-header">
                        <div class="mdl-typography--headline">Your Order</div>
                    </div>
                    <div id="order-list">
                        <ul class="checkout-list mdl-list">
                           
                        </ul>

                        <button id="placeOrder" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white no-shadow">
                            Place Order
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>