<!-- The Modal  dialogViewCustomerOrderDetails -->
<div id="dialogViewCustomerOrderDetails" class="form-modal">
    <div class="form-modal-content">
        <div class="form-modal-header"> <span class="form-close">&times;</span> </div>
        <div class="form-modal-body">
            <div class="mdl-grid back-end-content form-layout">
                <div class=" mdl-cell mdl-cell--4-col-phone mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                    <div class="form-header">
                        <div class="mdl-typography--headline">View Order Info</div>
                    </div>
                    <div class="form-content">
                            <!--<div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
                                    <input size="4" class="mdl-textfield__input" placeholder="Timestamp..." type="text" id="txtViewOrderTimestamp">
                                    <label class="mdl-textfield__label" for="txtViewOrderTimestamp">Order Timestamp</label>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input size="4" class="mdl-textfield__input" placeholder="Total Amount..." type="text" id="txtViewOrderTotalAmount">
                                    <label class="mdl-textfield__label" for="txtViewOrderTotalAmount">Total Amount</label>
                                </div>
                            </div>-->

                            <!-- Products -->
                            <table id="tblCustOrderDetails" class="mdl-data-table mdl-js-data-table">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric">Product Name</th>
                                        <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                                        <th class="mdl-data-table__cell--non-numeric">Amount (Price * Quantity)</th>

                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
