<!-- The Modal  dialogViewShift -->
<div id="dialogViewShift" class="form-modal">
    <div class="form-modal-content">
        <div class="form-modal-header"> <span class="form-close">&times;</span> </div>
        <div class="form-modal-body">
            <div class="mdl-grid back-end-content form-layout">
                <div class=" mdl-cell mdl-cell--4-col-phone mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                    <div class="form-header">
                        <div class="mdl-typography--headline">View Shift Info</div>
                    </div>
                    <div class="form-content">
                        <form action="#" class="mdl-grid">
                            
                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input size="4" class="mdl-textfield__input" placeholder="" type="text" id="txtViewShiftName">
                                    <label class="mdl-textfield__label" for="txtViewShiftName">Name</label>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="shift-time mdl-textfield__input" placeholder="" type="text" id="txtViewShiftStartTime">
                                    <label class="mdl-textfield__label" for="txtViewShiftStartTime">Start Time</label>
                                </div>

                            </div>

                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="shift-time mdl-textfield__input" placeholder="" type="text" rows="3" id="txtViewShiftEndTime"></input>
                                    <label class="mdl-textfield__label" for="txtViewShiftEndTime">End Time</label>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <br>
                                <a>
                                    <button type="button" onclick="return UpdateShift();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white no-shadow"> SAVE </button>
                                </a>
                                <a>
                                    <button type="button" onclick="return DeleteShift();" class="mdl-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="background-color: #EE4A4A;"> DELETE </button>
                                </a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/controllers/update/update_shift.js"></script>
