        <!-- FOOTER START -->
    </div>
    <script src="/public/js/jquery-3.1.1.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.js"></script>

    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="/public/js/getmdl-select.min.js"></script>
    <script src="/public/js/moment.min.js"></script>
    <script src="/public/js/scroll-into-view-if-needed.min.js"></script>
    <script src="/public/js/draggabilly.pkgd.min.js"></script>
    <script src="/public/js/mdDateTimePicker.min.js"></script>
    <script src="/public/js/toastr.js"></script>
    <script src="/public/js/init.js"></script>

    <!-- Validator: check email, phone numbers, etcetera -->
    <script src="/public/js/validator.min.js"></script>

    <!-- DataTables -->
    <script src="/public/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
          $(function () {
            /*$(".mdl-data-table").DataTable({
                "processing": true,
                "dom": 'lBfrtip',
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "buttons": [
                  {
                    extend: 'pdf',
                    text: 'Export to PDF'
                  }
              ]
            });*/
        });
    </script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
    <script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

    <!-- Wizard -->
    <script src="/public/wizard/wysihtml5-0.3.0.js"></script>
    <script src="/public/wizard/bootstrap-wysihtml5.js"></script>
    <script src="/public/wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="/public/wizard/jquery.smartWizard-2.0.js"></script>

    <!-- Bootstrap Date and time Picker -->
	<script src="/public/datepicker/bootstrap-datepicker.js"></script>
  <script src="/public/datepicker/bootstrap-timepicker.js"></script>
	<script type="text/javascript">
                $('.datePicker').datepicker({
                    format: "yyyy-mm-dd"
                });
  </script>
  <script type="text/javascript">
    $('.time-picker').timepicker({
          minuteStep: 5,
          explicitMode: true,
          maxHours: 24,
          showMeridian: false,
          showSeconds: true
    });
  </script>

</body>
<!-- FOOTER END -->

</html>
