<body>
    <!-- HEADER START -->
    <div class="back-end-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="back-end-header mdl-layout__header mdl-color--grey-200 mdl-color-text--grey-600 no-shadow">
            <div class="mdl-layout__header-row"> <span class="mdl-layout-title"></span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <div class="back-end-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="back-end-drawer-header"> 
                <a href="/page/profile"><img src="/public/images/user.png" class="back-end-avatar"></a>
                <div class="back-end-avatar-dropdown"> <span></span>
                    <div class="mdl-layout-spacer"> <b> <%= employeeCode %> </b> </div>
                    <a href="/api/v1/logout" id="logout" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"> <i class="material-icons" role="presentation">power_settings_new</i> <span class="visuallyhidden">Accounts</span> </a>
                </div>
            </header>

            <nav class="back-end-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link" href="/page/home">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">folder</i>Products
                </a>

                <a class="mdl-navigation__link" href="/page/staff">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">group_add</i>Employees
                </a>

                <a class="mdl-navigation__link" href="/page/customers">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Customers
                </a>
                <a class="mdl-navigation__link" href="/page/shifts">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment</i>Shifts
                </a>

                <a class="mdl-navigation__link" href="/page/promotions">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">folder_special</i>Promotions
                </a>

                <a class="mdl-navigation__link" href="/page/shiftbookings">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">recent_actors</i>Shift Bookings
                </a>

                <a class="mdl-navigation__link" href="/page/loginrecords">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">contacts</i>Login Records
                </a>

                <a class="mdl-navigation__link" href="/page/customers/orders">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add_shopping_cart</i>Orders
                </a>
            </nav>
        </div>
        <!-- HEADER END -->
