<body>
    <!-- HEADER START -->
    <div class="back-end-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="back-end-header mdl-layout__header mdl-color--grey-200 mdl-color-text--grey-600 no-shadow">
            <div class="mdl-layout__header-row"> <span class="mdl-layout-title"></span>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="search"> <i class="material-icons">search</i> </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search">
                    </div>
                </div>
                <!--<a href="" id="add_admin" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon modal-trigger"> <i class="material-icons" role="presentation">person_add</i> <span class="visuallyhidden">Accounts</span> </a>
                -->
            </div>
        </header>
        <div class="back-end-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="back-end-drawer-header"> <img src="/public/images/user.jpg" class="back-end-avatar">
                <div class="back-end-avatar-dropdown"> <span></span>
                    <div class="mdl-layout-spacer"> <b> <%= employeeCode %> </b> </div>
                    <a href="/api/v1/logout" id="logout" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"> <i class="material-icons" role="presentation">power_settings_new</i> <span class="visuallyhidden">Accounts</span> </a>
                </div>
            </header>
            <nav class="back-end-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link" href="/page/home">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">folder</i>Products
                </a>
                <a class="mdl-navigation__link" href="/page/staff">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">group_add</i>Employees
                </a>
                <a class="mdl-navigation__link" href="/page/customers">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Customers
                </a>
                <a class="mdl-navigation__link" href="/page/shifts">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment</i>Shifts
                <!--</a>
                <a class="mdl-navigation__link" href="/packages">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">folder_special</i>Packages
                </a>
                <a class="mdl-navigation__link" href="/merchandises">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">folder</i>Merchandises
                </a>
                <a class="mdl-navigation__link" href="/pre_orders">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add_shopping_cart</i>Pre-Orders
                </a>
                <a class="mdl-navigation__link" href="/ratings">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">grade</i>Ratings
                </a>
                <a class="mdl-navigation__link" href="/mailing_list">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">mail_outline</i>Mailing List
                </a>
                <a class="mdl-navigation__link" href="/artists">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">mic</i>Artists
                </a>
                <a class="mdl-navigation__link" href="/speakers">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">record_voice_over</i>Speakers
                </a>
                <a class="mdl-navigation__link" href="/presenters">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">recent_actors</i>Presenters
                </a>
                <a class="mdl-navigation__link" href="/exhibitors">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">color_lens</i>Exhibitors
                </a>
                <a class="mdl-navigation__link" href="/sponsors">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">contacts</i>Sponsors
                </a>
                <a class="mdl-navigation__link" href="/venues">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">place</i>Venues
                </a>
                <a class="mdl-navigation__link" href="/stages">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">panorama_wide_angle</i>Stages
                </a>-->
            </nav>
        </div>
        <!-- HEADER END -->
