<!-- The Modal  dialogAddBooking -->
<div id="dialogAddBooking" class="form-modal">
    <div class="form-modal-content">
        <div class="form-modal-header"> <span class="form-close">&times;</span> </div>
        <div class="form-modal-body">
            <div class="mdl-grid back-end-content form-layout">
                <div class=" mdl-cell mdl-cell--4-col-phone mdl-cell--12-col-desktop mdl-cell--8-col-tablet ">
                    <div class="form-header">
                        <div class="mdl-typography--headline">Book  A Shift</div>
                    </div>
                    <div class="form-content">
                        <form action="#" class="mdl-grid">
                            

                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
                                    <select id="txtAddBookingShift" class="shift-change" required="required">

                                    </select>
                                    <label class="mdl-textfield__label" for="txtAddBookingShift">Shift</label>
                                </div>
                            </div>


                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                    <input class="any-date mdl-textfield__input" placeholder="Booking Date..." type="text" id="txtAddBookingDate">
                                    <label class="mdl-textfield__label" for="txtAddBookingDate">Booking Date</label>
                                </div>

                            </div>

                            <div class="mdl-cell mdl-cell--12-col">
                                <br>
                                <a>
                                    <button type="button" onclick="return AddBooking();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white no-shadow"> SAVE </button>
                                </a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/controllers/add/add_booking.js"></script>
